.people-card__title {
  margin-top: 2.5rem;
  text-align: center;
  font: {
    family: var(--font-body);
    size: 2rem;
    weight: bold;
  }
  color: var(--color-black);
  line-height: 1.2;
}

.people-card__title + .people-card__description {
  margin-top: 1.25rem;
}

.people-card__description {
  text-align: center;
  font: {
    family: var(--font-body);
    size: 1rem;
    weight: normal;
  }
  color: var(--color-gray-dark);
  line-height: 1;
}

.people-card__description + .people-card__grid {
  margin-top: 2.5rem;
}

.people-card__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 20.8125rem));
  grid-gap: 1.25rem;
  margin: 0 auto;
  justify-content: center;
  width: 100%;

  &--16-9 {
    grid-auto-rows: minmax(24rem, 1fr);
  }

  &--1-1 {
    grid-auto-rows: minmax(31.25rem, 1fr);
  }

  & + & {
    margin-top: 2.5rem;
  }

  @media (min-device-width: 1920px) {
    max-width: 112rem;
  }
}
