<a
  class="people-card"
  href="https://www.google.com/"
  target="_blank"
  tabindex="0"
  title="{{ imgRatio }} aspect ratio"
>
  <header class="people-card__image people-card__image--{{ imgRatio }}-ratio">
    <img
      [src]="
        'https://cdn.jsdelivr.net/gh/nkunic/angular-project-people-cards@master/src/assets/images/' +
        card.imgName
      "
      [alt]="card.name"
    />
  </header>

  <main class="people-card__content">
    <h1 class="people-card__title">
      <object>
        <a href="https://www.yahoo.com/" tabindex="-1" target="_blank">
          {{ card.name }}
        </a>
      </object>
    </h1>
    <p class="people-card__description">
      {{ card.description }}
    </p>
  </main>

  <footer class="people-card__footer">
    <div class="people-card__read-more">Read more</div>
    <div class="people-card__icon">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </div>
  </footer>
</a>
